In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn

data = seaborn.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [4]:
data['species'] = encoder.fit_transform(data['species'])

In [5]:
data.sample(5)

     sepal_length  sepal_width  petal_length  petal_width  species
91            6.1          3.0           4.6          1.4        1
108           6.7          2.5           5.8          1.8        2
116           6.5          3.0           5.5          1.8        2
75            6.6          3.0           4.4          1.4        1
105           7.6          3.0           6.6          2.1        2

In [6]:
new_data = data[data['species'] != 0][['sepal_length', 'sepal_width', 'species']]

In [7]:
new_data.sample(5)

     sepal_length  sepal_width  species
94            5.6          2.7        1
60            5.0          2.0        1
145           6.7          3.0        2
71            6.1          2.8        1
101           5.8          2.7        2

In [8]:
new_data.shape

(100, 3)

In [9]:
X = new_data.iloc[:, 0:2]
y = new_data.iloc[:, -1]

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [11]:
clf1 = LogisticRegression()
clf2 = KNeighborsClassifier()
clf3 = RandomForestClassifier()

In [12]:
estimators = [('lr', clf1), ('knn', clf2), ('rf', clf3)]

In [13]:
for estimator in estimators :
    x = cross_val_score(estimator[1], X, y, cv=10, scoring='accuracy')
    print(estimator[0], np.round(np.mean(x), 2))

lr 0.75
knn 0.62
rf 0.6

In [14]:
from sklearn.ensemble import VotingClassifier

In [15]:
vc = VotingClassifier(estimators = estimators)
x = cross_val_score(vc, X, y, cv=10, scoring='accuracy')
print(np.round(np.mean(x), 2))

0.67

In [16]:
vc1 = VotingClassifier(estimators=estimators, voting='soft')
x = cross_val_score(vc, X, y, cv=10, scoring='accuracy')
print(np.round(np.mean(x), 2))

0.68

In [17]:
from sklearn.datasets import make_classification
from sklearn.svm import SVC

X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=2)

svm1 = SVC(probability=True, kernel='poly', degree=1)
svm2 = SVC(probability=True, kernel='poly', degree=2)
svm3 = SVC(probability=True, kernel='poly', degree=3)
svm4 = SVC(probability=True, kernel='poly', degree=4)
svm5 = SVC(probability=True, kernel='poly', degree=5)

estimators = [('svm1', svm1), ('svm2', svm2), ('svm3', svm3), ('svm4', svm4), ('svm5', svm5)]

for estimator in estimators :
    x = cross_val_score(estimator[1], X, y, cv=10, scoring='accuracy')
    print(estimator[0], np.round(np.mean(x), 2))

svm1 0.85
svm2 0.85
svm3 0.89
svm4 0.81
svm5 0.86

In [18]:
vc1 = VotingClassifier(estimators=estimators, voting='soft')
x = cross_val_score(estimator[1], X, y, cv=10, scoring='accuracy')
print(np.round(np.mean(x), 2))

0.86