In [25]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('PATH TO THE CSV FILE')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [27]:
data.drop(columns=['day'], inplace=True)

In [28]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [29]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [30]:
PYes = 9/14
PNo = 5/14

In [31]:
# Outlook

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [32]:
POvercastNo = 0
PRainNo = 2/5
PSunnyNo = 3/5

POvercastYes = 4/9
PRainYes = 3/9
PSunnyYes = 2/9

In [33]:
# Temperature

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [34]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5


PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [35]:
# Humidity

pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [36]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [37]:
# Wind

pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [38]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [39]:
# New Data Point
# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

PY = PYes * PSunnyYes * PHotYes * PHighYes * PWeakYes
PY

0.007054673721340388

In [40]:
PN = PNo * PSunnyNo * PHotNo * PHighNo * PWeakNo
PN

0.02742857142857143

In [43]:
# Rain, High, Mild, Weak

PY = PYes * PRainYes * PHighYes * PMildYes * PWeakYes
PY

0.021164021164021163

In [44]:
PN = PNo * PRainNo * PHighNo * PMildNo * PWeakNo
PN

0.01828571428571429